<h3>Plantilla actual</h3>

<%= link_to(l(:button_download), :download_progress_reports_template) %>

<hr />

<h3>Actualizar plantilla</h3>
<span>
  <b>NOTA</b>:<%= l(:label_template_format) %>.
</span>
<span class="add_attachment" >
<%= file_field_tag 'progress_reports_template',
      :class => 'file_selector',
      :multiple => false,
      :onchange => 'addInputFiles(this);',
      :data => {
        :max_file_size => Setting.attachment_max_size.to_i.kilobytes,
        :max_file_size_message => l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)),
        :upload_path => upload_progress_reports_template_path,
        :file_type_message => l(:error_format_file)
      } %>
(<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)
</span>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'upload_template.js', plugin: 'redmine_progress_reports' %>
<% end %>